/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 23-mar-2019, 15.47.27
    Author     : Luca Lussu
*/

/*Per fare in modo che tutti i file html importino il foglio di stile devo aggiungere all'interno di head':
  <head>
    <link rel="stylesheet" type="text/css" href="style.css"
      media="screen">
</head> */


body{
    font-size: 15px;
    font-family: "Verdana",Arial,sans-serif;
    color: black;
   
}

/*Voglio impostare uno sfondo valido per tutte le pagine web del sito*/
/*body {
  background-color: #00bfff;
}*/

/*Imposto la proprietà dei titoli*/
h1,h2,h3 {
    color: coral 
}
/*Imposto le proprietà dei link cliccabili*/
/*è importante far capire all'utente cos'è cliccabile quindi, un immagine o una gif o un colore differente al link è utilie per aiutare l'utente'*/
/* Applico le proprietà list-style-type che mi permettono di personalizzare i link*/
ol {
list-style-type: none; 
padding: 10px;
margin: 20px; 
}
/*ol li {
background-image: url(http://www.woollettaquanet.info/SheetMusic/musicimages/animated-arrow1.gif);
background-repeat: no-repeat; 
background-position: 0px 10px;
padding-left: 15px;
}*/

body { /*Voglio ripetere l'immagine nel mio sfondo in tutte le pagine web'*/
background-image: url('https://i.pinimg.com/236x/7d/18/71/7d1871d7cb9a57fa3950d3ebc4e8adb6--green-wallpaper-iphone-wallpaper.jpg');
background-repeat: repeat-x;
background-repeat: repeat-y;
background-repeat: repeat;

}

/*regole per modificare il colore del link*/
a:visited {
    color: red;
}

a:link {
    color: orange;
}

a:active {
    color: blueviolet;
    
}

/*ridimensioniamo l'immagine sulla sinistra dello schermo'*/
#logodiv{
    height: 150px;
    position: relative; /*tutti i calcoli che si basano sul controllo degli antenati vengono cambiati*/
}

.logoimg{
    height: 100%;
}

*{
    /*mettiamo la prima regola slide 37, box model, dimensioniamo
    slide 74 costruire css  box sizing  e border box vanno sempre messi*/
    
    box-sizing: border-box; 
    /*Voglio vedere i bordi quindi usere border color*/
    border-color: black;
}

header{
    border-style: solid; /*Riga continua*/
    border-width: medium;
    
}

#logotitle{
    position: absolute;
    display: inline;
}

 nav ol li { /*voglio mettere i link orizzontalmente*/
     
     list-style:  none;
     /*voglio il borso*/
     border-style: solid;
     /*Li voglio in fila orizzontale*/
     float: right;
     /*arrotondiamo i bordi*/
     border-radius: 20px;
     /*staccare la scritta dal bordo (allargiamo il bordo)*/
      padding: 10px;
      
     
 }
 
 nav ol{
     position: relative;
 }
 
 /*voglio lasciare il bordo tutto a destra per averlo staccato dal resto*/

 nav {/*sto posizionando i miei pulsanti*/
     position: relative;
     margin-top: 10px;
     margin-right: 150px;/*sposto i miei box verso sx*/
     
     top:-90px;   
     left:-100px;
    
     /*border-style: solid;
     border-width: medium;*/
     float: none;
 }
 
 /* nav ol li:first-child il child è articoli, volendo posso personalizzare solo un box
 {
     width: 15%;
 }*/


 .loginutente{
     border-style: solid;
     border-width: medium;
     width:300px;
     height: 350px;
     padding: 50px 90px 0 70px;
     color: black;
     font: 12px Arial, Helvetica, sans-serif;
     
     position: absolute;
     margin-left: 450px;
     margin-top: 60px;
     background-color: yellow;
     border-radius: 30px;
     
     
 }
 
#imglogin{ 
    top:-410px;
    width: 60%;
    right:-20px;
    margin: 80px ; /*indico quanto dev'essere il margin tra l'immagine e il form usn e psw'*/
    position: relative;
 }
 .avatar{
    position: absolute;
    top: 200px;
    left: 50px;
    margin-left: -125px;
 }
 
 #titlelogin{
     position:relative;
     top: 20px;
     right: -40px;
     
 }